html{
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 0.5vw;
    background-color: #ccc;
    margin:0;
    line-height: 2;
}

a{
    text-decoration: none;
}
main{
    min-height: calc(100vh - 200px - 100px);
}
header{
    padding-top: 0;
    font-size: 10em;
    text-align: center;
    border-bottom: 0.5vw dashed grey;
}
nav{
    font-size: 1.5em;

    width: 20vw;
    overflow: auto;

    position: absolute;
    right:1em;
}
nav header{
    font-size: 1.5em;

    border-bottom: 0.5vw solid blue;
}
nav ol{
    border: 0.5vw solid gray;
    overflow-x: auto;
}
nav ol li{
    margin-left: -1.5vw ;
    font-size: 1vw ;
}
.maps{
    width: 70vw;
}
.map{
    margin-left: 25%;
}
.map iframe{
    width: 50vw;
    height: 40vw;
    max-width: 600px;
    max-height: 450px;
}

footer{
    height: 100px;
    margin-top: calc(-height);
    
    border-top: 0.5vw solid red;
    font-size: 2em;
    text-align: center;
}