html {
    font-family: sans-serif;
  }
  
/* Your CSS below here */
p{
    position: center;
    width: 200px;
    margin:auto;

    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: rgb(255, 255, 255);
    line-height: 3;
    
    background: linear-gradient(to right bottom,rgba(0,0,0,0),rgba(0,0,0,0.2) 30%);
    background-color: red;
    
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset -2px -2px 3px rgba(0,0,0,0.6),
                inset 2px 2px 3px white,
                2px 2px 3px black;
}
p:hover{
    background: linear-gradient(to right bottom,rgba(0,0,0,0.2),rgba(0,0,0,0) 30%);
    background-color: red;
}